.welcome-to-pen-tutor {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  /* background-image: url("../images/main-sec.jpg"); */
}
.pen-tutor {
  font-family: "Poppins", sans-serif;
  margin-left: 5%;
}
.studnt-query-button-view {
  display: "flex";
  align-items: "flex-start";
}
.studnt-query-button {
  background-color: #f5bb07;
  color: #313d6a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #f5bb07;
  align-items: flex-end;
  margin-left: 5%;
  font-weight: bold;
  margin-top: 10%;
}

.student-query-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313d6a;
  height: 350px;
  color: white;
  width: 100%;
  position: relative;
}
.input-view-direction {
  display: flex;
  justify-content: space-between;
}
.input-view {
  display: flex;
  flex-direction: column;
}
/* input {
  padding: 8px 15px;
  margin: 8px 0;
} */
.next {
  display: flex;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f5bb07;
  border-radius: 100%;
  color: #313d6a;
  background-color: yellow;
}

/* student and tutor */

.student-parent {
  margin-top: 10%;
  background-color: #e5e5e5;
  padding: 10%;
  position: relative;
}
.student-background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5%;
}
.for-student {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.for-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-secondary {
  background-color: #f5bb07 !important;
  color: white;
  border-radius: 5px;
  margin-right: 2px;
  border-color: #f5bb07 !important;
}
.read-more-tutor {
  background-color: #313d6a;
  color: white;
  border-radius: 5px;
  margin-right: 2px;
  border-color: #313d6a;
}

/* Why Choose Pen Tutor */

.bullets-style {
  list-style: none;
}
.bullets::before {
  content: "\2022";
  color: #f5bb07;
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-family: "Poppins", sans-serif;
}
.why-choose-pen-tutor {
  font-size: 150%;
  font-family: "Poppins", sans-serif;
}

/* featured tutor */

.card-style {
  height: 300px;
  width: 300px;
  background-color: white;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 10px;
}
.teacher-image {
  display: flex;
  justify-content: center;
}
.teacher-image-style {
  margin-top: -3em;
  border-radius: 50%;
}
.teacher-id {
  display: flex;
  justify-content: center;
}
.t-id {
  padding: 1%;
  background-color: #f5bb07;
}
.teacher-detail {
  padding: 5%;
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
}
.view-profile {
  display: flex;
  justify-content: center;
}
.btn-primary {
  background-color: #313d6a !important;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #313d6a;
  align-items: flex-end;
  font-weight: bold;
}

/* services */

.services-container {
  margin-left: 5%;
  margin-right: 5%;
}
.services {
  display: flex;
  background-color: #f5bb07;
  border-radius: 10px;
}
.home-tutoring {
  padding: 5%;
}
.services-image {
  border-radius: 10px;
}

/* online tutoring */
.online-class-card-style {
  height: 550px;
  width: 300px;
  background-color: white;
  color: black;
  font-size: 12px;
  border-radius: 10px;
}
.individual-coaching {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5bb07;
}
