.coaching-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.online-class-card-style {
  height: 550px;
  width: 300px;
  background-color: white;
  color: black;
  font-size: 12px;
  border-radius: 10px;
}
.individual-coaching {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5bb07;
}
.teacher-detail {
  padding: 5%;
  margin-top: 1%;
  font-family: "Poppins", sans-serif;
}
p {
  color: black;
}
.view-profile {
  display: flex;
  justify-content: center;
}
.btn-primary {
  background-color: #f5bb07 !important;
  color: white;

  border-color: #f5bb07;
  align-items: flex-end;
  font-weight: bold;
}
