@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  margin: 0;
  font-family: 'Poppins' , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-yellow-450{
  background-color: #F5BB07;

}

.activeNavLinkAnimation{
  animation: ActiveNavAnimate 300ms linear forwards;
}
@keyframes ActiveNavAnimate{
  0%{
    right:100% ;
  }
  100%{
    right: 0;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hide-input-arrow-button::-webkit-inner-spin-button,
.hide-input-arrow-button::-webkit-outer-spin-button
{
  display: none;
}

.pentutor-shadow{
  box-shadow: 0px 0px 18px 0px rgba(187, 187, 187, 0.589);
-webkit-box-shadow:  0px 0px 18px 0px rgba(187, 187, 187, 0.589);
-moz-box-shadow: 0px 0px 18px 0px rgba(187, 187, 187, 0.589);
}

.footer-gray{
  background-color: #404040;
}

.color-green{
  background-color: #01A62F;

;
}
.slide-right{
  background-color: red !important;
}